<div class="row">
    <div class="col-lg-10 offset-lg-1">
        <div class="card">
            <div class="card-body text-center">
                <h3 class="card-title">
                    {{titulo}}
                </h3>
                <form class="mt-5" [formGroup] = "formulario"  (ngSubmit)="guardarComentario()"> 
                    <div class="mb-3">
                        <input formControlName="titulo"
                        type="text" class="form-control form-control-lg" placeholder="Titulo"/> 
                        <div class="text-danger float-start mb-2"
                        *ngIf="formulario.get('titulo')?.hasError('required') && formulario.get('titulo')?.touched">
                            <span>El titulo del comentario es <strong>obligatorio</strong></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input formControlName="creador"
                        type="text" class="form-control form-control-lg" placeholder="Creador"/> 
                        <div class="text-danger float-start mb-2"
                        *ngIf="formulario.get('creador')?.hasError('required') && formulario.get('creador')?.touched">
                            <span>El creador del comentario es <strong>obligatorio</strong></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <textarea formControlName="texto"
                        type="text" class="form-control form-control-lg" placeholder="texto"></textarea>
                        <div class="text-danger float-start mb-2"
                        *ngIf="formulario.get('texto')?.hasError('required') && formulario.get('texto')?.touched">
                            <span>El texto del comentario es <strong>obligatorio</strong></span>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="mt-5">
                            <button type="reset" class="btn btn-secondary float-start" routerLink="/">
                                Cancelar
                            </button>
                            <button [disabled]="formulario.invalid" type="submit" class="btn btn-success float-end">
                                Guardar
                            </button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
