<div class="row">
    <div class="col-lg-10 offset-lg-1">
        <div class="card">
            <div class="card-body text-center">
                <h2 class="card-title">
                    Detalle de Comentario
                </h2>
                    
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h5>{{comentario.titulo}}</h5>
                        </li>
                        <li class="list-group-item">
                            <h5>{{comentario.creador}}</h5>
                        </li>
                        <li class="list-group-item">
                            <h5>{{comentario.fecha}}</h5>
                        </li>
                        <li class="list-group-item">
                            <h5>{{comentario.texto}}</h5>
                        </li>
                    </ul>
                
            </div>
        </div>
    </div>
</div>
